<!-- LISTA DE CLIENTES CON BOTON DE MODIFICARLOS y BUSCADORES VARIOS -->
<div class="container">
  <h3>Listado de Clientes</h3>

  <div class="form-group">
    <label>Buscar por CIF</label>
    <input
      type="text"
      class="form-control"
      name="buscarCif"
      [(ngModel)]="cliente.cif"
      #BuscarCif="ngModel"
      placeholder="Introduce el CIF del cliente"
    />
    @if (!BuscarCif.valid && BuscarCif.touched) {
    <span class="form-text text-danger">
      Introducir el CIF es obligatorio
    </span>
    }
    <button class="btn btn-primary" (click)="buscarPorCif()">Buscar</button>
  </div>

  <div class="form-group">
    <label for="fechaInicio">Busqueda por fecha de inicio</label>
    <input
      id="fechaInicio"
      type="date"
      class="form-control"
      name="fechaInicio"
      [value]="fechaInicio"
      #fechaInicio
      placeholder="Fecha de inicio"
    />
    <!-- [(ngModel)]="fechaInicio" -->
    <!-- @if (!fechaInicio.valid && fechaInicio.touched) {
        <span class="form-text text-danger">
          Introducir la fecha de inicio es obligatorio
        </span>
      } -->
    <label for="fechaFin">Fecha de fin</label>
    <input
      id="fechaFin"
      type="date"
      class="form-control"
      name="fechaFin"
      [value]="fechaFin"
      placeholder="Fecha de fin"
      #fechaFin
    />
    <!-- [(ngModel)]="fechaFin" -->
    <!-- @if (!fechaFin.valid && fechaFin.touched) {
    <span class="form-text text-danger">
      Introducir la fecha de fin es obligatorio
    </span>
    } -->
    <button class="btn btn-primary" (click)="buscarEntreFechas()">
      Buscar
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>CIF</th>
        <th>NOMBRE</th>
        <th>DIRECCIÓN</th>
        <th>TELÉFONO</th>
        <th>EMAIL</th>
        <th>FECHA DE ALTA</th>
      </tr>
    </thead>
    <!-- En Angular, la directiva trackBy se utiliza para mejorar el rendimiento al renderizar listas en un componente. 
    La sintaxis track $index se utiliza para asignar un identificador único a cada elemento de la lista basado en su índice. Por si pregunta el llopis que va a ser que si xD-->
    <tbody>
      @for (cliente of clientes; track $index) {
      <tr>
        <td>{{ cliente.cif }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.direccion }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.fechaAlta }}</td>
        <td>
          <button class="btn btn-primary" (click)="modificarCliente(cliente)">
            Modificar
          </button>
          <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="6">No se encontraron clientes</td>
      </tr>
      }
    </tbody>
  </table>
</div>
