<ng-container *ngIf="invoice$ | async as i">
  <!-- <pre>
    {{ i | json }}   
  </pre> -->
  <article class="container invoice">
    <div class="row">
      <div class="col-xs-6">
        <h1>
          <a href=" "><img alt="" src="image/logo.png" /> Unity 3D </a>
        </h1>
      </div>
      <div class="col-xs-6 text-right">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>
              CIF :
              <a href="#">{{ i.clienteId }}</a>
            </h4>
            <h4>
              AUTORIZACI&Oacute;N :
              <a href="#">N&uacute;mero de Aut.</a>
            </h4>
          </div>
          <div class="panel-body">
            <h4>
              FACTURA :
              <a href="#">{{ i.numeroFactura }}</a>
            </h4>
          </div>
        </div>
      </div>

      <hr />

      <h1 style="text-align: center">FACTURA</h1>

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>
                Ciudad, <a href="#">{{ i.fechaExpedicion.getDay() }}</a> de
                <a href="#">{{ i.fechaExpedicion.getMonth() }}</a> de
                <a href="#">{{ i.fechaExpedicion.getFullYear() }}</a>
              </h4>
            </div>
            <div class="panel-body">
              <h4>
                Comprador :
                <a href="#">{{ i.clienteId }}</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                CIF/DNI :
                <a href="#">{{ i.clienteId }}</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <pre></pre>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="text-align: center">
              <h4>Cantidad</h4>
            </th>
            <th style="text-align: center">
              <h4>Concepto</h4>
            </th>
            <th style="text-align: center">
              <h4>Precio unitario</h4>
            </th>
            <th style="text-align: center">
              <h4>IVA</h4>
            </th>
            <th style="text-align: center">
              <h4>Total</h4>
            </th>
          </tr>
        </thead>
        <tbody>
          @for (item of i.articulos; track $index) {
          <tr>
            <td style="text-align: center">{{ item.unidades }}</td>
            <td>
              <a href="#">{{ item.descripcion }}</a>
            </td>
            <td class="text-right">{{ item.pUnitario }}</td>
            <td class="text-right">{{ item.iva }}</td>
            <td class="text-right">{{ item.unidades * item.pUnitario }}</td>
          </tr>
          }
          <tr>
            <th colspan="4" style="text-align: right">Subtotal</th>
            <td style="text-align: right">
              <a href="#"> {{ i.importe }} </a>
            </td>
          </tr>
          <tr>
            <th colspan="5" style="text-align: right">
              Total: <a href="#">{{ i.importe | currency }}</a>
            </th>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <picture class="col-xs-4">
          <a href=" "><img alt="" src="image/qr.png" /></a>
        </picture>

        <section class="panel panel-info" style="text-align: right">
          <h6>
            "LA ALTERACI&Oacute;N, FALSIFICACI&Oacute;N O
            COMERCIALIZACI&Oacute;N ILEGAL DE ESTE DOCUMENTO ESTA PENADO POR LA
            LEY"
          </h6>
        </section>
      </div>
    </div>
  </article>
</ng-container>
