.factivar-layout {
    min-height: 100vh;
    max-width: 100vw;

    display: grid;
    justify-items: center;

    grid-template: 
    'factivar-header factivar-header factivar-header' 1fr
    '. factivar-content .' 7fr
    'factivar-footer factivar-footer factivar-footer' 2fr
    / 1fr 10fr 1fr;
    
    grid-template-rows: max-content;
    
    gap: 1rem;
    
    background-image: url("/src/assets/FondoFinal.jpg");
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    /* background-color: lightslategray; */
}

.factivar-header {
    grid-area: factivar-header;
}

.factivar-content {
    grid-area: factivar-content;
    justify-items: center;
    align-items: center;
    
    border-radius: 1rem;
    backdrop-filter: blur(0.2rem);

    display: flex;
    flex-flow: column nowrap;
}

.factivar-footer {
    width: 100%;
    grid-area: factivar-footer;
}

/* 
@media (orientation: landscape) {
    
}
@media (orientation: portrait) {
    
} 
*/