.factivar-layout {
    min-height: 100dvh;
    max-width: 100dvw;

    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    justify-content: space-between;
    
    gap: 1rem;
    
    background-image: url("/src/assets/FondoFinal.jpg");
    background-position: center;
    background-size: cover;
    background-clip: border-box;
}

.factivar-content {
    justify-items: center;
    align-items: center;
    
    border-radius: 1rem;
    backdrop-filter: blur(0.2rem);

    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
}

.factivar-footer {
    width: 100%;
}

/* 
@media (orientation: landscape) {
    
}
@media (orientation: portrait) {
    
} 
*/