<header>
  <div class="hexagon-menu">
    <app-hexagon-item title="Inicio">
      <!-- los slots se invocan con el nombre del select de ng-content sin el punto. -->
      <i class="fa fa-universal-access slot-icon"></i>
    </app-hexagon-item>
    <app-hexagon-item title="Clientes">
      <!-- los slots se invocan con el nombre del select de ng-content sin el punto. -->
      <i class="fa fa-bullseye slot-icon"></i>
    </app-hexagon-item>
    <app-hexagon-item title="Facturas">
      <!-- los slots se invocan con el nombre del select de ng-content sin el punto. -->
      <i class="fa fa-braille slot-icon"></i>
    </app-hexagon-item>
    <app-hexagon-item title="Proveedores">
      <!-- los slots se invocan con el nombre del select de ng-content sin el punto. -->
      <i class="fa fa-id-badge slot-icon"></i>
    </app-hexagon-item>
    <app-hexagon-item title="Ricias">
      <!-- los slots se invocan con el nombre del select de ng-content sin el punto. -->
      <i class="fa fa-life-ring slot-icon"></i>
    </app-hexagon-item>
    <app-hexagon-item title="QuePollas">
      <!-- los slots se invocan con el nombre del select de ng-content sin el punto. -->
      <i class="fa fa-clipboard slot-icon"></i>
    </app-hexagon-item>
    <app-hexagon-item title="Ineses">
      <!-- los slots se invocan con el nombre del select de ng-content sin el punto. -->
      <i class="fa fa-map-signs slot-icon"></i>
    </app-hexagon-item>
  </div>
</header>
