.factivar-navbar {
  height: 100%;
  width: 100%;
  padding: .1rem;
  /* background-color: rgb(0 0 0 / .5); */
  scale: .7;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.logo-factivar {
  height: 50px;
  width: 140px;
  scale: 2;
}

.hexagon-menu {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: -1rem; */
  scale: .75;
  flex: 3;
}

.hexagon-item:hover .icon i {
  color: #ff0037;
  /* color: var(--hexagon-item-bg-color); */
  transition: 0.6s;
}