<header class="header">
  <a
    title="Inicio"
    class="navbar-brand cursiv"
    routerLink="/"
    routerLinkActive="active"
  >
    <app-factivar-brand class="logo-factivar" />
  </a>

  <nav class="navigation">
    <app-hexagon-item
      title="Clientes"
      [routerLink]="['clientes', 'overview']"
      aria-label="Clientes"
    >
      <!-- routerLinkActive="active" -->
      <!-- los slots se invocan con el nombre del select de ng-content sin el punto. -->
      <i class="fa fa-bullseye slot-icon"></i>
    </app-hexagon-item>
    <app-hexagon-item
      title="Facturas"
      [routerLink]="['facturas', 'overview']"
      aria-label="Facturas"
    >
      <i class="fa fa-braille slot-icon"></i>
    </app-hexagon-item>
    <app-hexagon-item
      title="Usuarios"
      [routerLink]="['usuarios']"
      aria-label="Usuarios"
    >
      <i class="fa fa-id-badge slot-icon"></i>
    </app-hexagon-item>
  </nav>

  <menu class="menu">
    <app-theme-toggle />
    <app-avatar />
  </menu>
</header>
